In [1]:
import os
ENV_URI = "postgresql+psycopg2://postgres:changeme@localhost:5432/pirates_db"

import pandas as pd
import numpy as np

import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine

from flask import Flask, jsonify, render_template
from flask_sqlalchemy import SQLAlchemy

app = Flask(__name__)

In [2]:
print(ENV_URI)

postgresql+psycopg2://postgres:changeme@localhost:5432/pirates_db

In [3]:
#################################################
# Database Setup
#################################################

app.config["SQLALCHEMY_DATABASE_URI"] = ENV_URI
db = SQLAlchemy(app)

# reflect an existing database into a new model
Base = automap_base()
# reflect the tables
Base.prepare(db.engine, reflect=True)

# Save references to each table
GDCI_Tourists                       = Base.classes.gdci_tourists
GDCI_Expenses                       = Base.classes.gdci_expenses
UN_City_Population                  = Base.classes.un_city_population

/Users/utbootcamp/.conda/envs/PythonData/lib/python3.6/site-packages/flask_sqlalchemy/__init__.py:835: FSADeprecationWarning: SQLALCHEMY_TRACK_MODIFICATIONS adds significant overhead and will be disabled by default in the future.  Set it to True or False to suppress this warning.
  'SQLALCHEMY_TRACK_MODIFICATIONS adds significant overhead and '

In [4]:
results_list = []
all_columns = [ 
                GDCI_Tourists.City, 
                GDCI_Tourists.Year, 
                GDCI_Tourists.Overnight_International_Visitors_in_Millions
              ]

results = db.session.query(*all_columns).all()

for result in results:
    results_dict = {}
    results_dict["City"] = result[0]
    results_dict["Year"] = result[1]
    results_dict["Visitors_in_Millions"] = result[2]
    results_list.append(results_dict)

In [15]:
df = pd.DataFrame(results_list).sort_values(["Year", "Visitors_in_Millions"], ascending=[True, False])
df_top10 = df.groupby("Year").head(10).reset_index(drop=True)
df_top10['Rank']=df_top10.groupby('Year').cumcount()+1

df_top10_line = df_top10.copy()
df_top10_line["id"] = "line"

df_top10_circle = df_top10.copy()
df_top10_circle["id"] = "circle"

df_top10 = pd.concat([df_top10_line, df_top10_circle])
df_top10.sort_values(['Year', 'Rank', 'id']).reset_index(drop=True)

             City  Visitors_in_Millions  Year  Rank      id
0          London                 15.29  2011     1  circle
1          London                 15.29  2011     1    line
2           Paris                 14.02  2011     2  circle
3           Paris                 14.02  2011     2    line
4         Bangkok                 13.80  2011     3  circle
5         Bangkok                 13.80  2011     3    line
6       Singapore                 10.39  2011     4  circle
7       Singapore                 10.39  2011     4    line
8        New York                 10.26  2011     5  circle
9        New York                 10.26  2011     5    line
10          Dubai                  9.91  2011     6  circle
11          Dubai                  9.91  2011     6    line
12   Kuala Lumpur                  9.48  2011     7  circle
13   Kuala Lumpur                  9.48  2011     7    line
14      Hong Kong                  8.43  2011     8  circle
15      Hong Kong                  8.43  2011     8    line
16       Istanbul                  7.51  2011     9  circle
17       Istanbul                  7.51  2011     9    line
18      Barcelona                  6.89  2011    10  circle
19      Barcelona                  6.89  2011    10    line
20        Bangkok                 15.82  2012     1  circle
21        Bangkok                 15.82  2012     1    line
22          Paris                 15.76  2012     2  circle
23          Paris                 15.76  2012     2    line
24         London                 15.46  2012     3  circle
25         London                 15.46  2012     3    line
26      Singapore                 11.10  2012     4  circle
27      Singapore                 11.10  2012     4    line
28          Dubai                 10.95  2012     5  circle
29          Dubai                 10.95  2012     5    line
..            ...                   ...   ...   ...     ...
130      New York                 13.13  2017     6  circle
131      New York                 13.13  2017     6    line
132  Kuala Lumpur                 12.58  2017     7  circle
133  Kuala Lumpur                 12.58  2017     7    line
134         Tokyo                 11.93  2017     8  circle
135         Tokyo                 11.93  2017     8    line
136      Istanbul                 10.70  2017     9  circle
137      Istanbul                 10.70  2017     9    line
138        Makkah                 10.53  2017    10  circle
139        Makkah                 10.53  2017    10    line
140       Bangkok                 22.78  2018     1  circle
141       Bangkok                 22.78  2018     1    line
142         Paris                 19.10  2018     2  circle
143         Paris                 19.10  2018     2    line
144        London                 19.09  2018     3  circle
145        London                 19.09  2018     3    line
146         Dubai                 15.93  2018     4  circle
147         Dubai                 15.93  2018     4    line
148     Singapore                 14.67  2018     5  circle
149     Singapore                 14.67  2018     5    line
150  Kuala Lumpur                 13.79  2018     6  circle
151  Kuala Lumpur                 13.79  2018     6    line
152      New York                 13.60  2018     7  circle
153      New York                 13.60  2018     7    line
154      Istanbul                 13.40  2018     8  circle
155      Istanbul                 13.40  2018     8    line
156         Tokyo                 12.93  2018     9  circle
157         Tokyo                 12.93  2018     9    line
158       Antalya                 12.41  2018    10  circle
159       Antalya                 12.41  2018    10    line

[160 rows x 5 columns]

In [47]:
un_results_list = []
un_city_columns =   [ 
                    UN_City_Population.Country, 
                    UN_City_Population.City, 
                    UN_City_Population.Year, 
                    UN_City_Population.Population_in_Thousands,
                ]

un_results = db.session.query(*un_city_columns).all()

for result in un_results:
    results_dict = {}
    results_dict["Country"]                 = result[0]
    results_dict["City"]                    = result[1]
    results_dict["Year"]                    = result[2]
    results_dict["Population_in_Thousands"] = result[3]

    un_results_list.append(results_dict)
    
un_df = pd.DataFrame(un_results_list)
un_df["Population_in_Thousands"] = un_df["Population_in_Thousands"] / 1000
un_df = un_df.rename(columns={"Population_in_Thousands": "Population_in_Millions"})
un_df.head()

     City    Country  Population_in_Millions  Year
0  Sydney  Australia                1.689935  1950
1  Sydney  Australia                1.905976  1955
2  Sydney  Australia                2.134673  1960
3  Sydney  Australia                2.390224  1965
4  Sydney  Australia                2.892477  1970

In [44]:
"""Return all cities and their corresponding countries in the GDCI data"""
gdci_results_list = []
gdci_columns = [ 
                GDCI_Tourists.City, 
                GDCI_Tourists.Year, 
                GDCI_Tourists.Overnight_International_Visitors_in_Millions
              ]

gdci_results = db.session.query(*gdci_columns).all()

for result in gdci_results:
    results_dict = {}
    results_dict["City"] = result[0]
    results_dict["Year"] = result[1]
    results_dict["Visitors_in_Millions"] = result[2]
    gdci_results_list.append(results_dict)
    
gdci_df = pd.DataFrame(gdci_results_list)
gdci_df.head()

        City  Visitors_in_Millions  Year
0    Bangkok                 15.82  2012
1     London                 15.46  2012
2      Paris                 15.76  2012
3      Dubai                 10.95  2012
4  Singapore                 11.10  2012

In [65]:
combined_df = gdci_df.merge(right=un_df, how="inner", on=["City", "Year"])
combined_df["Tourist_Ratio_Index"] = combined_df["Visitors_in_Millions"] / combined_df["Population_in_Millions"]
combined_df = combined_df.sort_values(["Year", "Tourist_Ratio_Index"], ascending=[True, False])
combined_df = combined_df.groupby("Year").head(10).reset_index(drop=True)
combined_df['Rank'] = combined_df.groupby('Year').cumcount()+1
combined_df
combined_df.to_dict('records')

[{'City': 'Amsterdam',
  'Visitors_in_Millions': 6.06,
  'Year': 2011,
  'Country': 'Netherlands',
  'Population_in_Millions': 1.0729048,
  'Tourist_Ratio_Index': 5.648217810191547,
  'Rank': 1},
 {'City': 'Singapore',
  'Visitors_in_Millions': 10.39,
  'Year': 2011,
  'Country': 'Singapore',
  'Population_in_Millions': 5.166454,
  'Tourist_Ratio_Index': 2.011050519369765,
  'Rank': 2},
 {'City': 'London',
  'Visitors_in_Millions': 15.29,
  'Year': 2011,
  'Country': 'United Kingdom',
  'Population_in_Millions': 8.167822600000001,
  'Tourist_Ratio_Index': 1.8719799325710131,
  'Rank': 3},
 {'City': 'Kuala Lumpur',
  'Visitors_in_Millions': 9.48,
  'Year': 2011,
  'Country': 'Malaysia',
  'Population_in_Millions': 6.0182486,
  'Tourist_Ratio_Index': 1.5752091065164708,
  'Rank': 4},
 {'City': 'Barcelona',
  'Visitors_in_Millions': 6.89,
  'Year': 2011,
  'Country': 'Spain',
  'Population_in_Millions': 5.0022222,
  'Tourist_Ratio_Index': 1.3773878337511676,
  'Rank': 5},
 {'City': 'Paris',
  'Visitors_in_Millions': 14.02,
  'Year': 2011,
  'Country': 'France',
  'Population_in_Millions': 10.514794799999999,
  'Tourist_Ratio_Index': 1.3333593538125919,
  'Rank': 6},
 {'City': 'Istanbul',
  'Visitors_in_Millions': 7.51,
  'Year': 2011,
  'Country': 'Turkey',
  'Population_in_Millions': 12.8932624,
  'Tourist_Ratio_Index': 0.5824747660452486,
  'Rank': 7},
 {'City': 'Shanghai',
  'Visitors_in_Millions': 6.18,
  'Year': 2011,
  'Country': 'China',
  'Population_in_Millions': 20.9478834,
  'Tourist_Ratio_Index': 0.29501787278422603,
  'Rank': 8},
 {'City': 'Tokyo',
  'Visitors_in_Millions': 3.26,
  'Year': 2011,
  'Country': 'Japan',
  'Population_in_Millions': 36.9389226,
  'Tourist_Ratio_Index': 0.08825379222078339,
  'Rank': 9},
 {'City': 'Amsterdam',
  'Visitors_in_Millions': 6.1,
  'Year': 2012,
  'Country': 'Netherlands',
  'Population_in_Millions': 1.0811926,
  'Tourist_Ratio_Index': 5.64191800794789,
  'Rank': 1},
 {'City': 'Singapore',
  'Visitors_in_Millions': 11.1,
  'Year': 2012,
  'Country': 'Singapore',
  'Population_in_Millions': 5.258656,
  'Tourist_Ratio_Index': 2.110805498591275,
  'Rank': 2},
 {'City': 'London',
  'Visitors_in_Millions': 15.46,
  'Year': 2012,
  'Country': 'United Kingdom',
  'Population_in_Millions': 8.2912122,
  'Tourist_Ratio_Index': 1.8646248132450403,
  'Rank': 3},
 {'City': 'Kuala Lumpur',
  'Visitors_in_Millions': 9.63,
  'Year': 2012,
  'Country': 'Malaysia',
  'Population_in_Millions': 6.2265442,
  'Tourist_Ratio_Index': 1.546604294561982,
  'Rank': 4},
 {'City': 'Paris',
  'Visitors_in_Millions': 15.76,
  'Year': 2012,
  'Country': 'France',
  'Population_in_Millions': 10.5694716,
  'Tourist_Ratio_Index': 1.4910868391944967,
  'Rank': 5},
 {'City': 'Barcelona',
  'Visitors_in_Millions': 6.91,
  'Year': 2012,
  'Country': 'Spain',
  'Population_in_Millions': 5.0708964,
  'Tourist_Ratio_Index': 1.3626782041928525,
  'Rank': 6},
 {'City': 'Istanbul',
  'Visitors_in_Millions': 8.82,
  'Year': 2012,
  'Country': 'Turkey',
  'Population_in_Millions': 13.2016398,
  'Tourist_Ratio_Index': 0.6680988220872379,
  'Rank': 7},
 {'City': 'Shanghai',
  'Visitors_in_Millions': 6.04,
  'Year': 2012,
  'Country': 'China',
  'Population_in_Millions': 21.5814578,
  'Tourist_Ratio_Index': 0.2798698797817078,
  'Rank': 8},
 {'City': 'Tokyo',
  'Visitors_in_Millions': 4.89,
  'Year': 2012,
  'Country': 'Japan',
  'Population_in_Millions': 37.0182192,
  'Tourist_Ratio_Index': 0.13209711611411065,
  'Rank': 9},
 {'City': 'Amsterdam',
  'Visitors_in_Millions': 6.65,
  'Year': 2013,
  'Country': 'Netherlands',
  'Population_in_Millions': 1.0894804,
  'Tourist_Ratio_Index': 6.10382710877589,
  'Rank': 1},
 {'City': 'Singapore',
  'Visitors_in_Millions': 11.9,
  'Year': 2013,
  'Country': 'Singapore',
  'Population_in_Millions': 5.350858000000001,
  'Tourist_Ratio_Index': 2.223942403255702,
  'Rank': 2},
 {'City': 'London',
  'Visitors_in_Millions': 16.81,
  'Year': 2013,
  'Country': 'United Kingdom',
  'Population_in_Millions': 8.4146018,
  'Tourist_Ratio_Index': 1.9977178242706624,
  'Rank': 3},
 {'City': 'Paris',
  'Visitors_in_Millions': 17.2,
  'Year': 2013,
  'Country': 'France',
  'Population_in_Millions': 10.6241484,
  'Tourist_Ratio_Index': 1.6189532894702412,
  'Rank': 4},
 {'City': 'Kuala Lumpur',
  'Visitors_in_Millions': 9.89,
  'Year': 2013,
  'Country': 'Malaysia',
  'Population_in_Millions': 6.4348398,
  'Tourist_Ratio_Index': 1.5369457993344295,
  'Rank': 5},
 {'City': 'Barcelona',
  'Visitors_in_Millions': 7.18,
  'Year': 2013,
  'Country': 'Spain',
  'Population_in_Millions': 5.1395706,
  'Tourist_Ratio_Index': 1.3970038664319544,
  'Rank': 6},
 {'City': 'Istanbul',
  'Visitors_in_Millions': 9.87,
  'Year': 2013,
  'Country': 'Turkey',
  'Population_in_Millions': 13.5100172,
  'Tourist_Ratio_Index': 0.7305690180764536,
  'Rank': 7},
 {'City': 'Shanghai',
  'Visitors_in_Millions': 5.71,
  'Year': 2013,
  'Country': 'China',
  'Population_in_Millions': 22.215032200000003,
  'Tourist_Ratio_Index': 0.2570331633370308,
  'Rank': 8},
 {'City': 'Tokyo',
  'Visitors_in_Millions': 5.4,
  'Year': 2013,
  'Country': 'Japan',
  'Population_in_Millions': 37.097515800000004,
  'Tourist_Ratio_Index': 0.14556230743623,
  'Rank': 9},
 {'City': 'Amsterdam',
  'Visitors_in_Millions': 7.35,
  'Year': 2014,
  'Country': 'Netherlands',
  'Population_in_Millions': 1.0977682,
  'Tourist_Ratio_Index': 6.695402544908843,
  'Rank': 1},
 {'City': 'Singapore',
  'Visitors_in_Millions': 11.86,
  'Year': 2014,
  'Country': 'Singapore',
  'Population_in_Millions': 5.44306,
  'Tourist_Ratio_Index': 2.178921415527295,
  'Rank': 2},
 {'City': 'London',
  'Visitors_in_Millions': 17.4,
  'Year': 2014,
  'Country': 'United Kingdom',
  'Population_in_Millions': 8.537991400000001,
  'Tourist_Ratio_Index': 2.0379500499379746,
  'Rank': 3},
 {'City': 'Kuala Lumpur',
  'Visitors_in_Millions': 11.69,
  'Year': 2014,
  'Country': 'Malaysia',
  'Population_in_Millions': 6.6431354,
  'Tourist_Ratio_Index': 1.759711235149595,
  'Rank': 4},
 {'City': 'Paris',
  'Visitors_in_Millions': 17.19,
  'Year': 2014,
  'Country': 'France',
  'Population_in_Millions': 10.678825199999999,
  'Tourist_Ratio_Index': 1.6097276318372553,
  'Rank': 5},
 {'City': 'Barcelona',
  'Visitors_in_Millions': 7.42,
  'Year': 2014,
  'Country': 'Spain',
  'Population_in_Millions': 5.2082448,
  'Tourist_Ratio_Index': 1.4246642170122263,
  'Rank': 6},
 {'City': 'Istanbul',
  'Visitors_in_Millions': 11.27,
  'Year': 2014,
  'Country': 'Turkey',
  'Population_in_Millions': 13.8183946,
  'Tourist_Ratio_Index': 0.8155795464112742,
  'Rank': 7},
 {'City': 'Shanghai',
  'Visitors_in_Millions': 5.89,
  'Year': 2014,
  'Country': 'China',
  'Population_in_Millions': 22.8486066,
  'Tourist_Ratio_Index': 0.25778377224981414,
  'Rank': 8},
 {'City': 'Tokyo',
  'Visitors_in_Millions': 7.68,
  'Year': 2014,
  'Country': 'Japan',
  'Population_in_Millions': 37.1768124,
  'Tourist_Ratio_Index': 0.20658037911824842,
  'Rank': 9},
 {'City': 'Amsterdam',
  'Visitors_in_Millions': 7.7,
  'Year': 2015,
  'Country': 'Netherlands',
  'Population_in_Millions': 1.1060560000000002,
  'Tourist_Ratio_Index': 6.961672826692318,
  'Rank': 1},
 {'City': 'Singapore',
  'Visitors_in_Millions': 12.05,
  'Year': 2015,
  'Country': 'Singapore',
  'Population_in_Millions': 5.5352619999999995,
  'Tourist_Ratio_Index': 2.1769520575539154,
  'Rank': 2},
 {'City': 'London',
  'Visitors_in_Millions': 18.58,
  'Year': 2015,
  'Country': 'United Kingdom',
  'Population_in_Millions': 8.661380999999999,
  'Tourist_Ratio_Index': 2.145154450543164,
  'Rank': 3},
 {'City': 'Kuala Lumpur',
  'Visitors_in_Millions': 11.14,
  'Year': 2015,
  'Country': 'Malaysia',
  'Population_in_Millions': 6.851431,
  'Tourist_Ratio_Index': 1.6259377055683697,
  'Rank': 4},
 {'City': 'Paris',
  'Visitors_in_Millions': 16.99,
  'Year': 2015,
  'Country': 'France',
  'Population_in_Millions': 10.733502,
  'Tourist_Ratio_Index': 1.5828943806038327,
  'Rank': 5},
 {'City': 'Barcelona',
  'Visitors_in_Millions': 7.69,
  'Year': 2015,
  'Country': 'Spain',
  'Population_in_Millions': 5.2769189999999995,
  'Tourist_Ratio_Index': 1.4572897556320272,
  'Rank': 6},
 {'City': 'Istanbul',
  'Visitors_in_Millions': 11.91,
  'Year': 2015,
  'Country': 'Turkey',
  'Population_in_Millions': 14.126772,
  'Tourist_Ratio_Index': 0.8430800751933987,
  'Rank': 7},
 {'City': 'Tokyo',
  'Visitors_in_Millions': 10.35,
  'Year': 2015,
  'Country': 'Japan',
  'Population_in_Millions': 37.256108999999995,
  'Tourist_Ratio_Index': 0.2778067886799451,
  'Rank': 8},
 {'City': 'Shanghai',
  'Visitors_in_Millions': 6.06,
  'Year': 2015,
  'Country': 'China',
  'Population_in_Millions': 23.482181,
  'Tourist_Ratio_Index': 0.25806802187582145,
  'Rank': 9},
 {'City': 'Amsterdam',
  'Visitors_in_Millions': 8.36,
  'Year': 2016,
  'Country': 'Netherlands',
  'Population_in_Millions': 1.1146392,
  'Tourist_Ratio_Index': 7.500184813166448,
  'Rank': 1},
 {'City': 'Singapore',
  'Visitors_in_Millions': 13.11,
  'Year': 2016,
  'Country': 'Singapore',
  'Population_in_Millions': 5.6152201999999996,
  'Tourist_Ratio_Index': 2.3347258937414423,
  'Rank': 2},
 {'City': 'London',
  'Visitors_in_Millions': 19.06,
  'Year': 2016,
  'Country': 'United Kingdom',
  'Population_in_Millions': 8.789907999999999,
  'Tourist_Ratio_Index': 2.168395846691456,
  'Rank': 3},
 {'City': 'Kuala Lumpur',
  'Visitors_in_Millions': 11.28,
  'Year': 2016,
  'Country': 'Malaysia',
  'Population_in_Millions': 7.0805108,
  'Tourist_Ratio_Index': 1.5931054013786687,
  'Rank': 4},
 {'City': 'Barcelona',
  'Visitors_in_Millions': 8.36,
  'Year': 2016,
  'Country': 'Spain',
  'Population_in_Millions': 5.3386464,
  'Tourist_Ratio_Index': 1.5659400105614785,
  'Rank': 5},
 {'City': 'Paris',
  'Visitors_in_Millions': 15.45,
  'Year': 2016,
  'Country': 'France',
  'Population_in_Millions': 10.7902476,
  'Tourist_Ratio_Index': 1.4318485147643876,
  'Rank': 6},
 {'City': 'Istanbul',
  'Visitors_in_Millions': 9.16,
  'Year': 2016,
  'Country': 'Turkey',
  'Population_in_Millions': 14.339484800000001,
  'Tourist_Ratio_Index': 0.638795614191104,
  'Rank': 7},
 {'City': 'Tokyo',
  'Visitors_in_Millions': 11.15,
  'Year': 2016,
  'Country': 'Japan',
  'Population_in_Millions': 37.283513,
  'Tourist_Ratio_Index': 0.2990598015803929,
  'Rank': 8},
 {'City': 'Shanghai',
  'Visitors_in_Millions': 6.38,
  'Year': 2016,
  'Country': 'China',
  'Population_in_Millions': 24.1974406,
  'Tourist_Ratio_Index': 0.2636642488544842,
  'Rank': 9},
 {'City': 'Phuket',
  'Visitors_in_Millions': 9.68,
  'Year': 2017,
  'Country': 'Thailand',
  'Population_in_Millions': 0.410148,
  'Tourist_Ratio_Index': 23.601236626778626,
  'Rank': 1},
 {'City': 'Antalya',
  'Visitors_in_Millions': 9.42,
  'Year': 2017,
  'Country': 'Turkey',
  'Population_in_Millions': 1.1519025999999999,
  'Tourist_Ratio_Index': 8.177774752830665,
  'Rank': 2},
 {'City': 'Singapore',
  'Visitors_in_Millions': 13.9,
  'Year': 2017,
  'Country': 'Singapore',
  'Population_in_Millions': 5.6951784,
  'Tourist_Ratio_Index': 2.4406610335507666,
  'Rank': 3},
 {'City': 'London',
  'Visitors_in_Millions': 19.83,
  'Year': 2017,
  'Country': 'United Kingdom',
  'Population_in_Millions': 8.918434999999999,
  'Tourist_Ratio_Index': 2.223484277230254,
  'Rank': 4},
 {'City': 'Kuala Lumpur',
  'Visitors_in_Millions': 12.58,
  'Year': 2017,
  'Country': 'Malaysia',
  'Population_in_Millions': 7.309590600000001,
  'Tourist_Ratio_Index': 1.7210266194662118,
  'Rank': 5},
 {'City': 'Barcelona',
  'Visitors_in_Millions': 8.7,
  'Year': 2017,
  'Country': 'Spain',
  'Population_in_Millions': 5.400373800000001,
  'Tourist_Ratio_Index': 1.6109995941392055,
  'Rank': 6},
 {'City': 'Paris',
  'Visitors_in_Millions': 17.41,
  'Year': 2017,
  'Country': 'France',
  'Population_in_Millions': 10.8469932,
  'Tourist_Ratio_Index': 1.6050530943450763,
  'Rank': 7},
 {'City': 'Istanbul',
  'Visitors_in_Millions': 10.7,
  'Year': 2017,
  'Country': 'Turkey',
  'Population_in_Millions': 14.5521976,
  'Tourist_Ratio_Index': 0.7352841333050617,
  'Rank': 8},
 {'City': 'Tokyo',
  'Visitors_in_Millions': 11.93,
  'Year': 2017,
  'Country': 'Japan',
  'Population_in_Millions': 37.310917,
  'Tourist_Ratio_Index': 0.31974555865244475,
  'Rank': 9},
 {'City': 'Phuket',
  'Visitors_in_Millions': 9.89,
  'Year': 2018,
  'Country': 'Thailand',
  'Population_in_Millions': 0.41750400000000004,
  'Tourist_Ratio_Index': 23.68839579980072,
  'Rank': 1},
 {'City': 'Antalya',
  'Visitors_in_Millions': 12.41,
  'Year': 2018,
  'Country': 'Turkey',
  'Population_in_Millions': 1.1858924,
  'Tourist_Ratio_Index': 10.464693086826427,
  'Rank': 2},
 {'City': 'Singapore',
  'Visitors_in_Millions': 14.67,
  'Year': 2018,
  'Country': 'Singapore',
  'Population_in_Millions': 5.7751366,
  'Tourist_Ratio_Index': 2.54019965519084,
  'Rank': 3},
 {'City': 'London',
  'Visitors_in_Millions': 19.09,
  'Year': 2018,
  'Country': 'United Kingdom',
  'Population_in_Millions': 9.046961999999999,
  'Tourist_Ratio_Index': 2.11010060614823,
  'Rank': 4},
 {'City': 'Kuala Lumpur',
  'Visitors_in_Millions': 13.79,
  'Year': 2018,
  'Country': 'Malaysia',
  'Population_in_Millions': 7.5386704,
  'Tourist_Ratio_Index': 1.8292350332758942,
  'Rank': 5},
 {'City': 'Paris',
  'Visitors_in_Millions': 19.1,
  'Year': 2018,
  'Country': 'France',
  'Population_in_Millions': 10.9037388,
  'Tourist_Ratio_Index': 1.7516927313042387,
  'Rank': 6},
 {'City': 'Barcelona',
  'Visitors_in_Millions': 9.09,
  'Year': 2018,
  'Country': 'Spain',
  'Population_in_Millions': 5.4621012,
  'Tourist_Ratio_Index': 1.6641947241841655,
  'Rank': 7},
 {'City': 'Istanbul',
  'Visitors_in_Millions': 13.4,
  'Year': 2018,
  'Country': 'Turkey',
  'Population_in_Millions': 14.764910400000002,
  'Tourist_Ratio_Index': 0.9075571498219183,
  'Rank': 8},
 {'City': 'Tokyo',
  'Visitors_in_Millions': 12.93,
  'Year': 2018,
  'Country': 'Japan',
  'Population_in_Millions': 37.338321,
  'Tourist_Ratio_Index': 0.3462930215849823,
  'Rank': 9}]